:root[data-theme="light"] {
  --color-text: black;
  --color-button: rgba(148,219,255,255);
  --color-content: rgba(181, 234, 255,255);
  --color-background: white;
  --switch-bg: #F5F5F6;
  --switch-circle-bg: #FFD371;
  --sun-icon: #997F44;
  --moon-icon: #B1B0B5;
  --switch-circle-pos: 0.5rem;
  --sidebar-bg: rgba(140,202,255,255);
  /*maybe change hover color*/
  --color-hover: #222533;
}

:root[data-theme="dark"] {
  --color-text: white;
  --color-button: rgba(1, 32, 48, 255);
  --color-content: rgba(7, 36, 50,255);
  --color-background: black;
  --switch-bg: #F5F5F6;
  --switch-circle-bg: #11252e;
  --sun-icon: #000000;
  --moon-icon: #ffd268;
  --switch-circle-pos: 2.66rem;
  --sidebar-bg: rgba(0, 28, 52, 255);
}

:root[font="serif"]{
  font-family: 'Times New Roman';
}

:root[font="sans-serif"]{
  font-family: 'Verdana';
}

:root[font="monospace"]{
  /*--font: 'Courier New';*/
  font-family: 'Courier New';
}

:root[font="cursive"]{
  font-family: 'Brush Script MT';
}

:root[font="fantasy"]{
  font-family: 'Papyrus';
}

:root[font="comic"]{
  font-family: 'Comic Sans MS';
}

:root[font="wingdings"]{
  font-family: "Wingdings";
}

:root[font-size="small"]{
  /*--font-size: 50%;*/
  font-size: 50%;
}

:root[font-size="medium"]{
  font-size: 100%;
}

:root[font-size="large"]{
  font-size: 150%;
}


:root {
  --default-transition: color.3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, fill .3s ease-in-out, transform .3s ease-in-out;
}

html {
  height: display;
  width: display;
  margin: auto;
  background-color: var(--color-background);
}

h1 {
  color : var(--color-text);
  text-align: left;
  /*font-family: 'Times New Roman', Times, serif;*/
  display:inline-block;
}

h3 {
  color : var(--color-text);
  text-align: left;
  /*font-family: 'Times New Roman', Times, serif;*/
}

h5 { 
  color : var(--color-text);
  text-align: left;
  /*font-family: 'Times New Roman', Times, serif;*/
  display:inline-block;
}

button{
  color : var(--color-text);
  background-color: var(--color-button);
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  float: right;
  width: fit-content;
  height: fit-content;
  font: inherit;
}

/*submit button
rgba(34,181,255,255)*/

#right{
  float: right;
}

body {
  color : var(--color-text);
  min-height: 100vh;
  /*maybe get rid of min height*/
  text-align: left;
  /*font-family: 'Times New Roman', Times, serif;*/
  display: grid;
  /*grid-auto-columns: minmax(100px 1fr);*/
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "navbar navbar"
  "sidebar main"
  "sidebar footer";
  grid-auto-flow: column;
}

nav{
  top: 0;
  position: sticky;
  grid-area: navbar;
  padding: 1em;
  background-color: var(--sidebar-bg);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  z-index: 1;
}

aside{
  box-sizing: border-box;
  height: calc(400vh - 30px);
  top: 30px;
  width:0px;
  align-self: start;
  grid-area: sidebar;
  /*display: none;*/
  /*change color later*/
  background-color: var(--color-button);
  padding-top: 33px;
  padding-bottom: 25px;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}

aside.show{
  /*display: block;*/
  width: 300px;
}

aside ul,li{
  list-style: none;
  /*maybe change to 0px*/
  padding-left: 10px;
}

aside > ul > li:first-child{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

aside .active{
  /*change to var later */
  color: gold;
}

aside a, aside .dropdown-button{
  border-radius: .5em;
  padding: .85em;
  /*text-decoration: none;*/
  color: var(--color-text);
  display: flex;
  align-items: center;
  gap: 1em;
  /*box-sizing: border-box;*/
}

.dropdown-button{
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  /*font: inherit;*/
  cursor: pointer;
}

aside span{
  flex-grow: 1;
}

aside a:hover, aside .dropdown-button:hover{
  background-color: var(--color-hover);
}

aside .sub-menu{
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div{
    overflow: hidden;
  }
}

aside .sub-menu.show{
  grid-template-rows: 1fr;
}

aside .sub-menu a{
  /*padding-left: left;*/
  padding-left: 2em;
}

main{
  height: 400vh;
  grid-area: main;
  background-color: var(--color-content);
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  grid-column: span 2;
}

footer{
grid-area: footer;
padding: 2em;
position: sticky;
bottom: 0;
}

text {
  color : var(--color-text);
  text-align: left;
  /*font-family: 'Times New Roman', Times, serif;*/
}

form{
  color : var(--color-text);
  height: display;
  width: display;
}

#side-button {
  /*change color later*/
 fill: var(--color-content);
 width: fit-content;
 height: fit-content;
 cursor: pointer;
}

#theme-switch {
  background-color: var(--switch-bg);
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 0.33rem;
  cursor: pointer;
  padding: 0.66rem;
  position: relative;
  transform: var(--default-transition);
  width: fit-content;
  height: fit-content;
  /*display: inline-block;*/
}

#theme-switch::before {
  content: '';
  position: absolute;
  width: 2.22rem;
  height: 2.22rem;
  background-color: var(--switch-circle-bg);
  border-radius: 50px;
  z-index: 0;
  left: 0;
  transform: translateX(var(--switch-circle-pos));
  transition: var(--default-transition);
}

#theme-switch svg{
  z-index: 1;
  transition: var(--default-transition);
}

#sun-icon {
  fill: var(--sun-icon);
}

#moon-icon{
  fill: var(--moon-icon);
}

#dropdown-arrow{
  /*width: fit-content;
  height: fit-content;
  flex-shrink: 0; */
  fill: var(--color-text)
}

.dropdown-button svg{
  transition: 200ms ease;
}

.rotate svg:last-child{
  rotate: -180deg;
}

.dropdown-menu-button {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-menu {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content text {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content text:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown-menu:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.large{
  font-size: 52px;
}

.medium{
  font-size: 36px;
}

.small{
  font-size: 16px;
}

.serif{
  font-family: 'Times New Roman';
}

.sans-serif{
  font-family: 'Verdana';
}

.monospace{
  font-family: 'Courier New';
}

.cursive{
  font-family: 'Brush Script MT';
}

.fantasy{
  font-family: 'Papyrus';
}

.comic{
  font-family: 'Comic Sans MS';
}

.wingdings{
  font-family: "Wingdings";
}