:root[data-theme="light"] {
  --color-text: black;
  --color-button: rgba(148,219,255,255);
  --color-content: rgba(181, 234, 255,255);
  --color-background: white;
  --switch-bg: #F5F5F6;
  --switch-circle-bg: #FFD371;
  --sun-icon: #997F44;
  --moon-icon: #B1B0B5;
  --switch-circle-pos: 0.5rem;
  --sidebar-bg: rgba(140,202,255,255);
}

:root[data-theme="dark"] {
  --color-text: white;
  --color-button: rgba(1, 32, 48, 255);
  --color-content: rgba(7, 36, 50,255);
  --color-background: black;
  --switch-bg: #F5F5F6;
  --switch-circle-bg: #11252e;
  --sun-icon: #000000;
  --moon-icon: #ffd268;
  --switch-circle-pos: 2.66rem;
  --sidebar-bg: rgba(0, 28, 52, 255);
}

:root {
  --default-transition: color.3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, fill .3s ease-in-out, transform .3s ease-in-out;
}

html {
  height: display;
  width: display;
  margin: auto;
  background-color: var(--color-background);
}

h1 {
  color : var(--color-text);
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  display:inline-block;
}

h3 {
  color : var(--color-text);
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

h5 { 
  color : var(--color-text);
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  display:inline-block;
}

.button {
  color : var(--color-text);
  background-color: var(--color-button);
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  float: right;
  width: fit-content;
  height: fit-content;
}

/*submit button
rgba(34,181,255,255)*/

#right{
  float: right;
}

body {
  color : var(--color-text);
  min-height: 100vh;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "navbar navbar"
  "sidebar main"
  "sidebar footer";
}

nav{
  top: 0;
  position: sticky;
  grid-area: navbar;
  padding: 1em;
  background-color: var(--sidebar-bg);
  /*display: inline-flex;
  flex-direction: row;*/
  align-items: center;
  gap: 30px;
}

aside{
  height: calc(100vh - 30px);
  top: 30px;
  position: sticky;
  align-self: start;
  grid-area: sidebar;
  display: none;
}
.show{
  display: block;
  width: 30px;
}

main{
  grid-area: main;
  background-color: var(--color-content);
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
}

footer{
grid-area: footer;
padding: 2em;
position: sticky;
bottom: 0;
}
/*
@media(max-width: 800px){
  body{
    grid-template-columns: 1fr;
  }
  aside{
    position: fixed;
    width: 300px;
    display: none;
  }
  .show{
    display: block;
  }
}*/


text {
  color : var(--color-text);
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

form{
  color : var(--color-text);
  height: display;
  width: display;
}

#side-button {
  /*change color later*/
 fill: var(--color-content);
 width: fit-content;
 height: fit-content;
 cursor: pointer;
}

#theme-switch {
  background-color: var(--switch-bg);
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 0.33rem;
  cursor: pointer;
  padding: 0.66rem;
  position: relative;
  transform: var(--default-transition);
  width: fit-content;
  height: fit-content;
  /*display: inline-block;*/
}

#theme-switch::before {
  content: '';
  position: absolute;
  width: 2.22rem;
  height: 2.22rem;
  background-color: var(--switch-circle-bg);
  border-radius: 50px;
  z-index: 0;
  left: 0;
  transform: translateX(var(--switch-circle-pos));
  transition: var(--default-transition);
}

#theme-switch svg{
  z-index: 1;
  transition: var(--default-transition);
}

#sun-icon {
  fill: var(--sun-icon);
}

#moon-icon{
  fill: var(--moon-icon);
}